@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Inter, sans-serif;
  --font-mono: Space Grotesk, monospace;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #0f172a;
  /* Slate 900 */
  --foreground: #ffffff;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}